.settings-section {
    /* border-bottom: 1px solid blue; */
    margin: 2rem;
    padding-bottom: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: 700px;
} 

.settings-header {
    width: 250px;
}

.settings-data {
    width: 100%;
}

#settings-title {
    background-image: linear-gradient(90deg, #3c5081, #b82f4e);
    color: white;
}