html {
    /* -webkit-transition: width 1s ease-in-out;
    -moz-transition: width 1s ease-in-out;
    -o-transition: width 1s ease-in-out;
    transition: width 1s ease-in-out; */

    font-size: 14px !important;
    
    /* background-image: -webkit-gradient(linear, left top, left bottom, from(#64c7a5), to(#17889e)); */
    /* border: 5px solid white;
    border-radius: 10px; */

    /* background-image: -webkit-gradient(linear, left top, right bottom, from(#EC978C), to(#FC5296)); */

    
}

html {
    height: initial !important;
}

.narrow {
    width: 400px;
}

.wide {
    width: 800px;
    background: transparent;

    /* background: linear-gradient(-30deg, #cf215bE5, #cf215bE5 45%, #cf215b 45%) #fff; */
}

#loginContainer {
    cursor: pointer;
}

#loginContainer input {
    font-size: 0.9em;
}

.btn.rounded-x,
input.rounded-x {
    border-radius: 20px;
}

.panicButton {
    display: inline-block;
    text-decoration: none;
    background: #ff8181;
    color: #fff;
    width: 120px;
    height: 120px;
    line-height: 120px;
    border-radius: 50%;
    text-align: center;
    font-weight: bold;
    vertical-align: middle;
    overflow: hidden;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
    border-bottom: solid 3px #bd6565;
    transition: 0.4s;
}

.panicButton:active {
    -ms-transform: translateY(2px);
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
    border-bottom: none;
}

.panicButton.sizeS {
    width: 80px;
    height: 80px;
    line-height: 80px;
}

.panicButton.sizeM {
    width: 100px;
    height: 100px;
    line-height: 100px;
}

.panicButton.sizeL {
    width: 120px;
    height: 120px;
    line-height: 120px;
}

div#logs li .column {
    padding-top: 9px;
    padding-bottom: 9px;
}

#topContainer {
    overflow-x: scroll;
    /* overflow-y: hidden; */
    height: 71px;
}

.customScroller::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

.customScroller::-webkit-scrollbar-track {
    box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
}

.customScroller::-webkit-scrollbar-thumb {
    border-radius: 2px;
    box-shadow: inset 0 0 12px #2c7baf;
}

.timelineItem {
    overflow: hidden;
    font-size: 12px;
    line-height: 24px;
}

/* .timelineItem:hover {
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    margin-top: -2px;
    border: 1px solid rgba(81, 203, 238, 1);
} */

/* .timelineItem:hover {
    transform: scale(1.1) translate(0px, -2px);
    transition: all 0.2s;
} */

.timelineItem.timeline-log:hover,
.timelineItem.timeline-log.active {
    transform: scale(1.1) translate(0px, -3px);
    opacity: 0.85;
    transition: all 0.2s;
    z-index: 2;
}

/* .timelineItem.deactivate {
    -webkit-filter: grayscale(80%) brightness(200%);;
    transition: all 0.2s;
} */

.timelineItem.allHoursSegment:hover {
    z-index: 2;
    margin-top: 2px;
}

.timeline-tick {
    width: 1px;
    top: 0px;
    height: 42px;
    position: absolute;
}

.timeline-time {
    width: 20px;
    top: 45px;
    height: 20px;
    position: absolute;
    font-size: 10px;
    text-align: center;
}

.timeline-log {
    top: 4px;
    height: 24px;
    position: absolute;
    border-radius: 1px;
    opacity: 0.75;
    z-index: 1;
}

.timeline-segment {
    top: 18px;
    height: 18px;
    position: absolute;
    background-color: rgba(55, 109, 148);
    border-radius: 1px;
    opacity: 0.5;
}

#timelineContainer {
    height: 65px;
    width: 1320px;
}

.axoTotal {
    font-size: 1.2em;
}

.btn.roundButton {
    padding: 5px;
    width: 30px;
    height: 30px;
    /* color: #676d71; */

    /* background-color: white; */

    /* transition: all 0.7s ease;     */
    /* box-shadow: 1px 4px 11px #FFFFFF; */
    /* box-shadow: 1px 4px 11px #0000000f; */

    transition: box-shadow 0.25s ease-in-out;
    /* box-shadow: 0 1px 2px rgba(0,0,0,0.15); */
}

.btn.roundButton.flat {
    box-shadow: none;
}

.btn.roundButton:hover {
    background-color: #cacaca55;
    border-radius: 50%;
    /* color: #3d4144;    */
    /* box-shadow: 1px 4px 11px #0000000f; */
    /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3); */
}

.btn.roundButton.success:hover {
    /* background-color: lightskyblue; */
}

.btn.roundButton.danger:hover {
    /* background-color: coral; */
}

.btn.noFocus:focus {
    outline: none;
    box-shadow: none;
}

.actionButton {
    border: none;
    display: inline-block;
    border-radius: 99px;
    /* color: white; */
    position: relative;
    z-index: 1;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.actionButton:before,
.actionButton:after {
    content: " ";
    position: absolute;
    border-radius: 99px;
}

.actionButton:before {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -2;
    background: #503b9a;
    background: linear-gradient(to right, #503b9a 0%, #269cc1 100%);
}

.actionButton:after {
    top: 2px;
    bottom: 2px;
    left: 2px;
    right: 2px;
    /* background-color: #d8d8d873; */
    background-color: white;
    z-index: -1;
    opacity: 1;
    transition: all 0.6s ease-in-out;
}

.actionButton:hover:after {
    opacity: 0;
    color: white;
}

.actionButton:hover {
    color: white;
}

.btn.btn-toggle {
    background-color: rgba(0, 0, 0, 1);
    color: white;

    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
    border: solid black 0px;
}

.btn.btn-toggle:hover {
    background-color: white;
    color: black;
    transition: border-color 0.4s ease 0s, background-color 0.4s ease 0s,
        color 0.4s ease 0s;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
    border: solid rgba(95, 95, 95, 1) 0px;
}

.tag.tag-button {
    display: none;
    /* background-color: darkseagreen; */
}

div#logs div:hover .tag.tag-button {
    display: block;
}

div.logContainer {
    border-radius: 0.25rem;
}

div.logContainer.active,
div.logContainer:hover {
    /* box-shadow: 0 0 3px 0px #6d8396; */

    background-color: #dbe4ea9e;
    /* font-weight: 800; */
    /* color: black; */

    /* transform: scale(1.1) translate(17px, 0px); */
    /* transition: all 0.2s; */
}

.tag.worklogType {
    width: 120px;
}

/* .tag.axoItemName {
      max-width: 200px;
  } */

.leftDrag {
    display: none;
    position: absolute;
    left: -4px;
    top: 0;
    bottom: 0;
    width: 8px;
    /* cursor: w-resize;       */
}

.rightDrag {
    display: none;
    position: absolute;
    right: -4px;
    top: 0;
    bottom: 0;
    width: 8px;
    /* cursor: w-resize;       */
}

/* #logsContainer {
    max-height: 290px;
    overflow-y: auto;
    overflow-x: hidden;
  } */

.noselect {
    user-select: none;
}

.tagX {
    align-items: center;
    background-color: whitesmoke;
    border-radius: 4px;
    color: #4a4a4a;
    display: initial;
    font-size: 0.75rem;
    height: 2em;
    justify-content: center;
    line-height: 1.5;
    padding-left: 0.75em;
    padding-right: 0.75em;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    white-space: nowrap;
}

.card > .card-body {
    /* padding: 1rem; */
    padding-top: 0.15rem;
    padding-bottom: 0.15rem;
    /* cursor: default; */
}

.card.allHoursStats {
    background-color: rgb(2, 187, 234);
    color: white;
}

.card.myHoursStats {
    background-color: #29ba60;
    color: white;
}

.card.axoStats {
    background-color: #2c314f;
    color: white;
}

.card.attendanceStats {
    background-color: rgb(0 175 220);
    color: white;
}

#stats .card {
    /* border-top-left-radius: 0.75rem;
    border-top-right-radius: 0.2rem;
    border-bottom-left-radius: 0.75rem;
    border-bottom-right-radius: 0.75rem; */
}

.columnColorBar {
    width: 0.25rem;
    height: 2.2rem;
}

.columnMain {
    width: 480px;
}

.columnTime {
    width: 50px;
}

.columnStatus {
    width: 170px;
}

/* #home .statistics .sublabel{
    font-size: 0.8rem;
} */

#homeContainer .statistics .sublabel {
    font-size: 0.8rem;
}

#stats .card:hover{
    cursor: pointer;
}

.blink {
    animation: blinker 2.5s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0.5;
    }
}

.stats-card-deck {
    display: flex;
    /* margin: 1rem; */
}

.stats-card-deck >.card {
    margin-right: 0.5rem;
    width: 10rem;
    /* height: 5rem; */
}

.statistics-sm {
    margin-right: 0.25rem;
    height: 2.3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
    /* background-color: #c8e3ff; */
    /* border-radius: 0.25rem; */
    /* font-size: 0.85em; */
    /* text-transform: uppercase; */
    font-weight: 600;
    cursor: default;
}

.statistics-sm div:first-child{
    margin-right: 0.25rem;
    font-size: 1.2rem;
    /* width: 3rem; */
    /* text-align: right; */
}

.statistics-sm div:nth-child(2){
    font-weight: normal;
    font-size: 0.9em;
}


/* .stats-card-deck > .statistics-sm.card .card-body {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0.25rem;
} */

.stats-card-deck > .card .card-body{
    /* display: flex;
    justify-content: space-between; */
}
.columnLastSeen {
    width: 90px;
}

.columnCountInfo {
    width: 30px;
}

.columnWorkDoneInfo {
    width: 50px;
}

.headerBar {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 0.5rem;
}

.axoItemName{
    font-weight: 600;
}


.btn-clock-in {

}

.stats-label{
    font-size: 0.9em;
}

.stats-data{
    font-weight: 600;
}

.stats-sub-data{
    /* font-weight: 300;
    font-size: 0.8em; */
}

#pills-tab {
    background-image: -webkit-gradient(linear, left top, right bottom, from(#3b8fc2), to(#DD203E));
}

#pills-tab a.nav-link:not(.active),
#pills-tab a.nav-link:hover:not(.active) {
    color: white !important; 
}

#pills-tab a.nav-link.active {
    /* border-bottom: rgb(102, 153, 204) 2px solid; */
    font-size: 1.5em;
    background-color: transparent !important;
}

.btn-transparent {
    color: #212529;
    background-color: transparent;
    border-color: transparent;
}

.btn-transparent:hover {
    color: #212529;
    background-color: #e2e7ec;
    border-color: #dae1e7;
}

.btn-group button.btn-transparent:first-child{
    border-color: transparent;
}